@model IEnumerable<VetGest.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de pacientes</h1>

<p>
    <a class="btn btn-outline-warning" role="button" asp-action="Create">Nuevo Paciente</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.ApellidoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chip)
            </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Cliente.ApellidoNombre)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chip)
            </td>*@

            <td>
                <a class="btn btn-outline-warning" role="button" asp-action="Edit" asp-route-id="@item.ID">Editar</a> @*|*@
                <a class="btn btn-outline-warning" role="button" asp-action="Details" asp-route-id="@item.ID">Detalles</a> @*|*@
                @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
