@model IEnumerable<VetGest.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de clientes</h1>

<p>
    <a class="btn btn-outline-warning" role="button" asp-action="Create">Nuevo cliente</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            @*<th>
            // aqui tiene que ir la variable con el nombre del cliente
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DueñoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueñoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<th>
            // aqui tiene que ir la variable con el nombre del cliente
        </th>*@
            <td>
                @Html.DisplayFor(modelItem => item.DueñoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueñoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>*@
            <td>
                <a class="btn btn-outline-warning" role="button" asp-action="Edit" asp-route-id="@item.ID">Editar</a> @*|*@
                <a class="btn btn-outline-warning" role="button" asp-action="Details" asp-route-id="@item.ID">Detalles</a> @*|*@
                @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
